<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube SUB List</title>
</head>
<body>
    <a href="<%= loginLink %>">Login with YouTube</a>
</body>
</html>